<BaseLayout titulo="Gerenciamento de Livros" descricao="Gerencie o acervo da biblioteca acadêmica" icon="livro" variantColor="roxo" textButton="Adicionar Livro" (abrirModalEvent)="abrirModal = $event">
    <TabelaComponent titulo="Lista de Livros" [topicos]="topicos" [livros]="livros" />
    <ModalComponent *ngIf="abrirModal" (fecharModalEvent)="cancelar($event)" variantColor="roxo" (salvarEvent)="criarLivro()">
        <InputsLabelComponent text="Titulo" idInput="titulo" placeholder="" tipoInput="text" [(ngModel)]="addLivro.titulo" />
        <InputsLabelComponent text="Autor" idInput="autor" placeholder="" tipoInput="text" [(ngModel)]="addLivro.autor" />
        <InputsLabelComponent text="Editora" idInput="editora" placeholder="" tipoInput="text" [(ngModel)]="addLivro.editora" />
        <InputsLabelComponent text="Ano" idInput="ano" placeholder="" tipoInput="number" [(ngModel)]="addLivro.anoPublicacao" />
    </ModalComponent>
</BaseLayout>